.form-container {
  width: 90%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid black;
}

table th, table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.logo-cell {
  text-align: center;
  vertical-align: middle;
}

.logo-img {
  max-width: 100px;
  height: auto;
}

.main-title h1 {
  margin: 0;
  font-size: 40px;
  font-style: italic;
  color: #011892;
}

.subtitle {
  font-size: 28px;
  font-weight: bold;
  background-color: rgb(234, 231, 231);
}

form input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

.add-row-button, .submit-button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.add-row-button {
  background-color: #4CAF50;
  color: white;
}

.submit-button {
  background-color: #007BFF;
  color: white;
}

.brdr {
  border: 1px solid black;
  background-color: rgb(234, 231, 231);
}
.brdr2 {
  padding-top: 1rem;
 
}

.total-label {
  text-align: right;
  font-weight: bold;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}
